apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-backend
  namespace: freelance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-backend
  template:
    metadata:
      labels:
        app: django-backend
    spec:
      containers:
        - name: django-backend
          image: arno974/freelance-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: "300Mi"
              cpu: "250m"
            limits:
              memory: "350Mi"
              cpu: "350m"
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
         