apiVersion: v1
kind: PersistentVolume
metadata:
  name: backend-media-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:        
    path: /mnt/data/media
  persistentVolumeReclaimPolicy: Retain